.first-column-container{
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.first-column-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.first-column-container input {
    padding: 8px;
    border: 1px solid#ccc;
    border-radius: 5px;
    width: 200px;
    margin-top: 10px;
}

.first-column-container div {
    margin-bottom: 15px;
}

.first-column-container h2 {
    text-align: center;
}